body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#simulation-container {
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    position: relative; /* Set a position value */
    z-index: 1; /* Lower z-index */
}

canvas {
    position: absolute;
    z-index: 10; /* Adjust as needed to bring the canvas to the front */
}