/* Reset margins and paddings */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to remove scroll bars */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
}

body {
    font-family: 'Lexend', sans-serif;
    background-color: #000000; /* Set background color */
}

#sociogram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width of the parent */
    height: 100%; /* Full height of the parent */
    background: linear-gradient(to right, #180b00, #000000);
}

svg {
    width: 100%; /* Full width of the parent */
    height: 100%; /* Full height of the parent */
}

.links line {
    stroke: #ffffff;
    stroke-opacity: 0.6;
    stroke-width: 2px;
}

.tooltip {
    font-family: 'Lexend', sans-serif;
    position: absolute;
    background-color: #1e1e1e; /* Dark background */
    color: white; /* White text */
    padding: 10px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 10;
    white-space: nowrap;
    font-family: 'Lexend', sans-serif; /* Use Lexend font */
    font-size: 14px; /* Adjust font size as needed */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); /* Soft white glow */
}

#sidebar {
    font-family: 'Lexend', sans-serif;
    position: fixed;
    right: 0;
    top: 0;
    width: 20%; /* Adjust width as needed */
    height: 100vh;
    background-color: #252526; /* Similar to VS Code theme */
    color: white;
    overflow-y: auto; /* Enables scrolling if content overflows */
    padding: 10px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
}

#top-bar {
    width: 100%;
    height: 50px; /* Adjust the height as needed */
    background-color: #252526; /* Dark background */
    color: white;
    text-align: center;
    line-height: 50px; /* Center the text vertically */
    font-family: 'Lexend', sans-serif;
    font-size: 24px; /* Adjust font size as needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensure it's above other elements */
}

.dropdown {
    background-color: #333;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.dropdown button {
    background-color: #444;
    color: white;
    width: 100%;
    border: none;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}
.dropdown-content {
    display: none;
    padding: 10px;
    background-color: #2A2A2A; /* Slightly lighter than dropdown background */
    transition: max-height 0.5s ease-out;
}

.sidebar-section {
    background-color: #303030; /* Lighter than main sidebar */
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* Add some space between sections */
}
.sidebar-section h3 {
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #444;
}


.sidebar-section div {
    padding-top: 10px;
}

#sidebarTitle {
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 1.5em;
    background-color: #1E1E1E; /* Slightly darker background for the title */
    border-bottom: 2px solid #444; /* Subtle bottom border */
}

@media screen and (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}

.icon {
    width: 80px;
    height: 80px;
    margin-right: 10px; /* Add some space between the icon and the text */
    filter: invert(1);
}
  
.description {
    flex: 1;
    /* Your existing styles... */
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Space between items */
}

.item-with-icon {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust as needed */
}