#sociogram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: #000000;
}

svg {
    display: block;
    max-width: 100%;
    height: auto;
}

.links line {
    stroke: #ffffff;
    stroke-opacity: 0.6;
    stroke-width: 2px;
}

.tooltip {
    position: absolute;
    background-color: white; /* Add more styling as needed */
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
}
