body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust minmax for your preferred size */
    gap: 15px; /* This adds space between the entries */
    padding: 20px;
    justify-items: center;
    transition: gap 0.3s ease;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Needed for absolute positioning of children */
    width: 100%; /* Each entry will fill the column width */
    height: 250px; /* Adjust height for your preferred size */
    background-size: cover;
    background-position: center;
    transition: filter 0.3s ease, box-shadow 0.3s ease;
    filter: grayscale(100%); /* Start with greyscale */
    text-decoration: none;
    color: white; /* Text color */
    font-size: 20px; /* Text size */
    border: 2px solid transparent; /* Adjust border as needed */
    overflow: hidden;
    /* Added box-shadow for better visibility on scale */
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}

.grid-item:hover {
    filter: grayscale(0%); /* Saturate on hover */
    border-color: #0066ff; /* Change border color on hover */
    z-index: 2; /* Ensure the scaling item is above the others */
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5); /* Shadow for lifted effect */
}

/* This ensures the text is centered within the grid item, 
   especially when scaled */
.grid-item p {
    text-align: center;
    width: 100%;
    position: absolute; /* Position text over the image */
    bottom: 10px; /* Position text at the bottom of the grid item */
    left: 0;
}

.about-me {
    position: fixed;
    right: 50px; /* Adjust this value to position the text */
    bottom: 10px;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s ease;
    background: transparent; /* Background is transparent */
    text-align: left;
    color: #333; /* Text is a dark grey */
    visibility: hidden; /* Hide the text initially */
}

.question-mark {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: darkgrey; /* Dark grey question mark */
    font-size: 24px;
    cursor: pointer;
    transition: right 0.5s ease;
}

/* When hovering over the question mark, slide it over and reveal the about text */
.question-mark:hover {
    right: 300px; /* Slide to the left; adjust as needed based on your text width */
}

.question-mark:hover ~ .about-me {
    width: 300px; /* Width to reveal the text; adjust as needed */
    visibility: visible; /* Show the text */
}