#sociogram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: #010009;
}

svg {
    display: block; /* Removes any extra space at the bottom */
    max-width: 100%; /* Adjust as needed */
    height: auto; /* May need to adjust based on your aspect ratio */
}

.links line {
    stroke: #ff6a00;      /* Line color */
    stroke-opacity: 0.6;
    stroke-width: 2px; /* Line thickness */
}

.tooltip {
    background-color: rgb(49, 49, 49);
    border: 1px solid #0048ff;
    border-radius: 5px;
    padding: 10px;
    color: black;
    text-align: left;
    font-size: 14px;
    position: absolute; /* Ensure tooltip is positioned absolutely */
    visibility: hidden; /* Initially hidden */
    pointer-events: none; /* Ignore pointer events */
}