body {
    font-family: 'Lexend', sans-serif;
    background-color: #1e1e1e; /* VS Code dark theme background color */
    color: #d4d4d4; /* VS Code dark theme text color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    color: white;
}

.banner {
    background-image: url('path-to-your-translucent-banner-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.9; /* Adjust transparency as needed */
}

.logo-container img {
    max-width: 100px; /* Adjust based on your logo's size */
    padding: 10px;
}

.nav-container {
    text-align: right;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Translucent background for the nav container */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #d4d4d4;
    text-decoration: none;
    font-weight: bold;
}

.contact-info {
    margin-top: 8px;
}

section {
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #252526; /* VS Code dark theme footer color */
    color: #d4d4d4;
    text-align: center;
    padding: 1em 0;
}
